body {
  padding: 0px;
  margin: 0px;
}

#header {
  /* Temprory Styling */
  /* border: 2px solid black
  border-bottom: 1px dashed rgb(221, 221, 221);
  padding: 20px;
  margin-bottom: 10px;
  color: black;
  font-weight: 500;
  font-size: 40px; */
  /* padding-top: 40px; */
  /* padding-bottom: 24px; */
  /* padding-left: 268px; */
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: 18px;
  font-family: "Candara";
  color: black;
  font-weight: 500;
  border-bottom: 1px dashed rgb(221, 221, 221);
  /* margin-bottom: 10px; */
}

#container {
  margin-top: 20px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

/************************** Session Styling ************************/

.session {
  font-weight: bold;
  /* background-color: lightgray; */
  padding: 10px;
  /* margin-bottom: 30px; */
  /* background-color: red; */
  margin: 20px;
  /* max-width: 300px; */
}

.session-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.session-count {
  display: inline-block;
  font-size: 26px;
  color: rgb(119, 119, 119);
  font-weight: 300;
  vertical-align: middle;
}

.session-name {
  display: inline-block;
  border: none;
  color: black;

  /* text-align: center; */
  /* color: lightgray; */
  /* width: 100px; */
  font-weight: lighter;
  font-size: 26px;
  /* color: gray; */

  /* padding: .5em; */
  /* margin-right: 25px; */
}

.session-data {
  display: inline-block;
  padding-left: 28px;
  vertical-align: middle;
  font-size: 0px;
}

.session-date {
  font-size: 11px;
  font-weight: 400;
  color: rgb(136, 136, 136);
  padding-top: 0px;
  padding-bottom: 2px;
}

.session-restore {
  display: inline-block;
  color: #234da7;
  font-size: 11px;
  font-weight: 400;
  cursor: pointer;
  padding-right: 30px;
}

.session-delete {
  display: inline-block;
  color: #234da7;
  font-size: 11px;
  font-weight: 400;
  cursor: pointer;
  padding-right: 30px;
}

/************************** Links Styling ************************/

.link {
  font-size: 13px;
  /* font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; */
  /* padding-top: 15px; */
  color: #234da7;
  font-weight: 400;
  padding-left: 5px;
  cursor: pointer;
  /* word-wrap: normal;
  text-overflow: clip;
  white-space: normal; */
}

.link-base {
  display: flex;
  align-items: center;
  /* background-color: blue; */
  /* height: 10px; */
}

.link-main {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* background-color: yellow; */
  /* width: 100px; */
  /* margin-bottom: 10px; */
  padding-left: 10px;
  /* border: solid black 1px; */
  /* padding: 10px; */
  /* margin: 10px; */
  /* justify-content: center; */
}

.remove-button {
  color: gray;
  /* position: absolute; */
  /* right: 99.35%; */
  cursor: pointer;
  margin-right: 10px;
}

/* Extend to left */
/* Match height of .link-base */

.icon {
  width: 15px;
  height: 15px;
}
